@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#body-app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: rgba(218, 218, 218, 0.53);
  font-family: "Roboto", sans-serif;
}

#body-app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-phone {
  //background-color: white;
  height: 620px;
  width: 1200px;
  overflow: hidden;
}

body {
  margin: 0;
  max-width: 1200px;
  width: 100%;
}

.card--content:first-child {
  margin-left: 0;
}

.card--content:last-child {
  margin-right: 0;
}

.card-box {
  height: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex
}

.card {
  overflow-x: auto;
  min-width: 200px;
  margin: 0;
  background: rgba(218, 218, 218, 0.53);;
  border-color: black;
  border-radius: 5px 5px 5px 5px;
}

.card--content {
  background-color: #fff;
  min-width: 90px;
  margin: 20px;
  margin-block: 0;
  text-align: center;
  padding: 8px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.61);
  border-radius: 4px;
}

.card::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#app {
  background-color: #ffc6ff;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  display: flex;
}

.image {
  content: url('../assets/camera.png');
  width: 50px;
  height: 50px;
  margin: 0;
  margin-left: 10px;
  margin-right: 0;
  padding: 0;
}

#menu {
  a {
    margin: 0;
    left: 70px;
    color: azure;
    display: inline-flex;
    text-decoration: none;

    &:hover {
      color: #000000;
    }
  }
}

/*Header Input*/
.input {
  width: 30%;
  position: relative;
}

.search input {
  border: none;
}

.search .input {
  width: 100%;
  padding: 8px 37px 9px 25px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background: #EEE;
  font: 13px 'Roboto', sans-serif;
  color: #555;
  outline: none;
}

#search-input {
  position: relative;
}

#search-input-icon {
  position: absolute;
  bottom: 8px;
  right: 12px;
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

.search input:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background: #E8E8E8;
  color: #333;
}

.search .submit:hover {
  opacity: 0.8;
}

input[type="search"] {
  -webkit-appearance: none;
}

/*Footer Input*/
.emailSub {
  width: 20%;
  position: relative;
}

.emailInput {
  border: none;
}

.emailInput {
  padding: 8px 37px 9px 25px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background: #EEE;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

.emailInput:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
  background: #E8E8E8;
  color: #333;
}

.emailSub .submit:hover {
  opacity: 0.8;
}

input[type="email"] {
  -webkit-appearance: none;
}

button {
  font-family: 'Roboto', sans-serif;
  background-color: #ffc6ff;
  color: #ffffff;
  border-color: #ffc6ff;
  border-radius: 10px;
  border-style: solid;
}

button:before {
  font-family: 'Roboto', sans-serif;
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
  margin-left: 2%;
}

#footer {
  background-color: rgba(159,159,159,0.51);
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  position: absolute;
  max-width: 1200px;
  width: 100%;
  left: 0;
  //bottom: 0;
  overflow: hidden;

  .left-content {
    float: left;
    width: 20%;
  }

  .right-content {
    padding: 30px;
    float: right;
  }

  .logo, .footerButton, .emailSub {
    margin-right: 20px;
    color: #020000;
    display: inline-flex;
    padding: 15px;
    margin-left: 10px;
    text-decoration: none;

  }

  .emailSub {
    button {
      margin: 0 0 0 10px;
    }
  }
}
p{margin-bottom: 0;
  margin-top: 0;
}
p.caption{
  margin-top:10px;
}